@{
    ViewData["Title"] = "ExampleController (2) Index Page";
    Layout = "ExampleLayout";
}

@section header
{
    <p>This codes will be added to header</p>
}

@section footer
{
    <p>This codes will be added to footer</p>

}

<div>This page Example2 Controller => index</div>