
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexNoLayout</title>
</head>
<body>
    This page doesn't contain any layout
</body>
</html>
